<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/head :: head}"></head>

<body class="crm_body_bg">

	<!-- main content part here -->

	<aside th:insert="~{fragments/sidebar :: sidebar}"></aside>

	<section class="main_content dashboard_part large_header_bg">
		<div th:insert="~{fragments/header :: header}"></div>
		<div class="main_content_iner overly_inner">
			<div class="container-fluid p-0 ">
				<!-- page title  -->
				<div class="row">
					<div class="col-12">
						<div class="page_title_box d-flex align-items-center justify-content-between">
							<div class="page_title_left">
								<h3 class="f_s_30 f_w_700 text_white">Product</h3>
								<ol class="breadcrumb page_bradcam mb-0">
									<li class="breadcrumb-item"><a th:href="${'/'}">Booze and Ice </a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0);">Product</a></li>
									<li class="breadcrumb-item active"><a th:href="${'/product/products'}">Product
											List</a></li>
									<li class="breadcrumb-item ">Product Edit</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-lg-12" th:if="${message != null and message['status'] == 'success'}">
                    <div class="white_box mb_30">
                        <div class="box_header ">
                            <div class="main-title">
                                <h3 class="mb-0" >Additional Notifications</h3>
                            </div>
                        </div>
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Well done!</h4>
                            <p>Aww yeah, you successfully edited the product.</p>
                          </div>
                    </div>
                </div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="white_card card_height_100 mb_30">
							<div class="white_card_header">
								<div class="box_header m-0">
									<div class="main-title">
										<h3 class="m-0">Product Information</h3>
									</div>
								</div>
							</div>
							<div class="white_card_body">
								<div class="card-body">
									<form method="post" th:action="@{/product/products/edit}" enctype="multipart/form-data">
										<div class="row mb-3">
											<div class="col-md-12">
												<label class="form-label" for="name">Name</label>
												<input type="text" class="form-control" id="name" name="name"
													th:value="${product.name}" placeholder="Name" required>
											</div>
										</div>
										<div class="row mb-3">
											<div class=" col-md-12">
												<label class="form-label" for="description">Description</label>
												<textarea class="form-control" id="description" name="description"
													th:value="${product.description}"
													placeholder="Description"></textarea>
											</div>
										</div>
										<div class="row mb-3">
											<div class=" col-md-6">
												<label class="form-label" for="file">Image File</label>
												<input type="file" class="form-control" id="file" name="file"/>
											</div>
											<div th:if="${product.imgLocation}" class=" col-md-6">
												<label for="image">Current Image</label>
												<img id="image" th:src="@{/images/} + ${product.imgLocation}" alt="Existing Image" style="max-width:300px"/>
											</div>
										</div>
										<div class="row mb-3">
											<div class="col-md-6">
												<label class="form-label" for="manufacturer">Manufacturer</label>
												<input type="text" class="form-control" id="manufacturer"
													name="manufacturer" th:value="${product.manufacturer}"
													placeholder="Manufacturer">
											</div>
											<div class="col-md-6">
												<label class="form-label" for="supplier">Supplier</label>
												<input type="text" class="form-control" id="supplier" name="supplier"
													th:value="${product.supplier}" placeholder="Supplier">
											</div>
										</div>
										<div class="row mb-3">
											<div class=" col-md-6">
												<label class="form-label" for="price">Price</label>
												<input type="number" class="form-control" id="price" name="price" step="0.01"
													th:value="${product.price}" placeholder="Price">
											</div>
											<div class=" col-md-6">
												<label class="form-label" for="categoryId">Category</label>
												<select class="form-select" id="categoryId" name="categoryId">
													<option value="0"></option>
													<option th:each="category : ${categoryList}"
														th:value="${category.id}" th:text="${category.name}"
														th:selected="${category.id == selectedValue}"></option>
												</select>
											</div>
										</div>
										<input type="hidden" th:value="${product.id}" name="productId" />
										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">

					</div>
				</div>
			</div>
		</div>

		<!-- footer part -->
		<div th:insert="~{fragments/footer :: footer}"></div>
	</section>
	<!-- main content part end -->

	<div id="back-top" style="display: none;">
		<a title="Go to Top" href="#">
			<i class="ti-angle-up"></i>
		</a>
	</div>
	<div th:insert="~{fragments/footer-scripts :: footer}"></div>
</body>

</html>