<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/head :: head}"></head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<div class="wrapper">

		<div th:insert="~{fragments/preload :: preload}"></div>
		<div th:insert="~{fragments/header :: header}"></div>
		<div th:insert="~{fragments/sidebar :: sidebar}"></div>


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Staff</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Staff</a></li>
								<li class="breadcrumb-item"><a href="#">Create Account</a></li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-12">
							<div class="card card-primary">
								<div class="card-header">
									<h3 class="card-title">Create account</h3>

									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse"
											title="Collapse">
											<i class="fas fa-minus"></i>
										</button>
									</div>
								</div>
								<div class="card-body">
									<form method="post" th:action="@{/staff/createaccount}"
										enctype="multipart/form-data">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="fname">First name</label>
													<input type="text" id="fname" name="fname" class="form-control">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="mname">Middle name</label>
													<input type="text" id="mname" name="mname" class="form-control">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="lname">Last name</label>
													<input type="text" id="lname" name="lname" class="form-control">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="username">Username</label>
													<input type="text" id="username" name="username"
														class="form-control">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="password">Password</label>
													<input type="password" id="password" name="password"
														class="form-control">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="mobile_number">Mobile Number</label>
													<input type="text" id="mobile_number" name="mobile_number"
														class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>POS Role</label>
													<div class="select2-purple">
														<select class="select2" multiple="multiple"
															data-placeholder="Select a State"
															data-dropdown-css-class="select2-purple"
															style="width: 100%;" name="roles[]">
															<option th:each="role : ${existingRoles}"
																th:value="${role.id}" th:text="${role.name}"></option>
														</select>
													</div>
												</div>
												<!-- /.form-group -->
											</div>
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Job Position</label>
													<div class="select2-purple">
														<select class="select2" multiple="multiple"
															data-placeholder="Select a State"
															data-dropdown-css-class="select2-purple"
															style="width: 100%;" name="jobpositions[]">
															<option th:each="jobposition : ${existingJobPositions}"
																th:value="${jobposition.id}"
																th:text="${jobposition.name}"></option>
														</select>
													</div>
												</div>
												<!-- /.form-group -->
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<div class="form-group">
													<input type="submit" value="Create" name="create_account_btn"
														class="btn btn-block btn-success">
												</div>
											</div>
										</div>
									</form>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>

					</div>
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->
	<div th:insert="~{fragments/footer :: footer}"></div>
	<div th:insert="~{fragments/footer-scripts :: footer}"></div>
	<!-- Select2 -->
	<script src="../../plugins/select2/js/select2.full.min.js"></script>
	<!-- bs-custom-file-input -->
	<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
	<script>
		$(function () {
			//Initialize Select2 Elements
			$('.select2').select2()
		})
		$(function () {
			bsCustomFileInput.init();
		});
	</script>
</body>

</html>