<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/head :: head}"></head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
	<div class="wrapper">
		
		<div th:insert="~{fragments/preload :: preload}"></div>

		<div th:insert="~{fragments/header :: header}"></div>
		<div th:insert="~{fragments/sidebar :: sidebar}"></div>


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Inventory</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Product Stock</a></li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">All Products</h3>
							<small class="float-right">
								<a th:href="${'/product/stocks/add'}" class="btn btn-info">Add Stock</a>
							</small>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="product_stocks_table" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Quantity</th>
										<th scope="col">Purchase Date</th>
										<th scope="col">Batch Date</th> <!-- created_date -->
										<th scope="col">Cost</th>
										<th scope="col">Created By</th>
										<th scope="col">Notes</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="productStock : ${productStockList}">
										<td th:text="${productStock.product.name}" scope="row"> <a href="#"
												class="question_content"></a></td>
										<td th:text="${productStock.quantity}"></td>
										<td th:text="${productStock.purchaseDate}"></td>
										<td th:text="${productStock.createdDate}"></td>
										<td th:text="${'Php ' + productStock.cost}"></td>
										<td> <span th:if="${productStock.createdBy != null}"
												th:text="${productStock.createdBy.username}"></span></td>
										<td th:text="${productStock.notes}"></td>
										<td>

										</td>
									</tr>
								</tbody>
								<!--<tfoot>

								</tfoot> -->
							</table>
						</div>
						<!-- /.card-body -->
					</div>
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->
	<div th:insert="~{fragments/footer :: footer}"></div>
	<div th:insert="~{fragments/footer-scripts :: footer}"></div>
	
	<!-- DataTables  & Plugins -->
	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
	<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
	<script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
	<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
	<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

	<script>
		$(function () {
			$("#product_stocks_table").DataTable({
				"responsive": true, "lengthChange": false, "autoWidth": false,
				//"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
				"searching": true,

			}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

		});
	</script>
</body>

</html>