<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/head :: head}"></head>

<body class="crm_body_bg">

	<!-- main content part here -->

	<aside th:insert="~{fragments/sidebar :: sidebar}"></aside>

	<section class="main_content dashboard_part large_header_bg">
		<div th:insert="~{fragments/header :: header}"></div>
		<div class="main_content_iner overly_inner">
			<div class="container-fluid p-0 ">
				<!-- page title  -->
				<div class="row">
					<div class="col-12">
						<div class="page_title_box d-flex align-items-center justify-content-between">
							<div class="page_title_left">
								<h3 class="f_s_30 f_w_700 text_white">Product</h3>
								<ol class="breadcrumb page_bradcam mb-0">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Booze and Ice </a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0);">Product</a></li>
									<li class="breadcrumb-item active">Product List</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="white_card card_height_100 mb_30">
							<div class="white_card_header">
								<div class="box_header m-0">
									<div class="main-title">
										<h3 class="m-0">Product Table</h3>
									</div>
								</div>
							</div>
							<div class="white_card_body">
								<div class="QA_section">
									<div class="white_box_tittle list_header">
										<h4>Table</h4>
										<div class="box_right d-flex lms_block">
											<div class="serach_field_2">
												<div class="search_inner">
													<form method="post" th:action="@{/product/products}">
														<div class="search_field">
															<input type="text" name="search" th:value="${search}" placeholder="Search by product name...">
														</div>
														<button type="submit"> <i class="ti-search"></i> </button>
													</form>
												</div>
											</div>
											<div class="add_button ms-2">
												<a th:href="${'/product/products/add'}"
													class="btn_1">Add Product</a>
											</div>
										</div>
									</div>

									<div class="QA_table mb_30">
										<!-- table-responsive -->
										<table class="table lms_table_active ">
											<thead>
												<tr>
													<th scope="col">Name</th>
													<th scope="col">Category</th>
													<th scope="col">Manufacturer</th>
													<th scope="col">Supplier</th>
													<th scope="col">Stock</th> 
													<th scope="col">Price</th>
													<th scope="col">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="product : ${productList}">
													<td th:text="${product.name}" scope="row"> <a href="#"
															class="question_content"></a></td>
													<td><span th:if="${product.productCategory != null}"
															th:text="${product.productCategory.name}"></span></td>
													<td th:text="${product.manufacturer}"></td>
													<td th:text="${product.supplier}"></td>
													<td>
														<span th:text="${product.stocks}"></span>
													</td>
													<td th:text="${'Php ' + product.price}"></td>
													<td>
														<a th:href="${'/product/products/edit/' + product.id}" class="status_btn">Edit</a>
														<a th:href="${'/product/products/view/' + product.id}"
															class="status_btn primary_btn btn-primary">View</a>
														<a th:if="${product.stocks <= 20}" th:href="${'/product/stocks/add?id=' + product.id}"  
															class="status_btn yellow_btn">Add stock</a>
														
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">

					</div>
				</div>
			</div>
		</div>

		<!-- footer part -->
		<div th:insert="~{fragments/footer :: footer}"></div>
	</section>
	<!-- main content part end -->

	<div id="back-top" style="display: none;">
		<a title="Go to Top" href="#">
			<i class="ti-angle-up"></i>
		</a>
	</div>
	<div th:insert="~{fragments/footer-scripts :: footer}"></div>
</body>

</html>