<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/head :: head}"></head>

<body class="crm_body_bg">

	<!-- main content part here -->

	<aside th:insert="~{fragments/sidebar :: sidebar}"></aside>

	<section class="main_content dashboard_part large_header_bg">
		<div th:insert="~{fragments/header :: header}"></div>
		<div class="main_content_iner overly_inner">
			<div class="container-fluid p-0 ">
				<!-- page title  -->
				<div class="row">
					<div class="col-12">
						<div class="page_title_box d-flex align-items-center justify-content-between">
							<div class="page_title_left">
								<h3 class="f_s_30 f_w_700 text_white">Transaction</h3>
								<ol class="breadcrumb page_bradcam mb-0">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Booze and Ice </a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0);">Transaction</a></li>
									<li class="breadcrumb-item active">Transaction List</li>
								</ol>
							</div>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="white_card card_height_100 mb_30">
							<div class="white_card_header">
								<div class="box_header m-0">
									<div class="main-title">
										<h3 class="m-0">Transaction Table</h3>
									</div>
								</div>
							</div>
							<div class="white_card_body">
								<div class="QA_section">
									<div class="white_box_tittle list_header">
										<h4>Table</h4>
										<div class="box_right d-flex lms_block">
											<div class="serach_field_2">
												<div class="search_inner">
													<form method="post" th:action="@{/transaction}">
														<div class="search_field">
															<input type="text" name="search" th:value="${search}"
																placeholder="Search by ...">
														</div>
														<button type="submit"> <i class="ti-search"></i> </button>
													</form>
												</div>
											</div>
										</div>
									</div>

									<div class="QA_table mb_30">
										<!-- table-responsive -->
										<table class="table lms_table_active ">
											<thead>
												<tr>
													<th scope="col">Invoice Number</th>
													<th scope="col">Transaction Date Time</th>
													<th scope="col">Transaction Status</th>
													<th scope="col">Customer</th>
													<th scope="col">Cashier</th>
													<th scope="col">Items</th>
													<th scope="col">Total</th>
													<th scope="col">Action</th>

												</tr>
											</thead>
											<tbody>
												<tr th:each="transaction : ${transactionList}">
													<td th:text="${transaction.invoiceNumber}" scope="row"> <a href="#"
															class="question_content"></a></td>
													<td><span th:text="${transaction.transactionDateTime}"></span></td>
													<td th:text="${transaction.transactionStatus}"></td>
													<td>
														<span th:if="${transaction.customer != null}"
															th:text="${transaction.customer.fname}"></span>
														<span th:unless="${transaction.customer != null}"
															th:text="${transaction.soldTo}"></span>
													</td>
													<td th:if="${transaction.cashier != null}"
														th:text="${transaction.cashier.username}"></td>
													<td><span th:if="${transaction.transactionItem != null and transaction.transactionItem.size() > 0}"
														th:text="${transaction.totalItems}"></span></td>
													<td th:text="${'Php ' + transaction.total}"></td>
													<td>
														<a th:href="${'/transaction/view/' + transaction.id}"
															class="status_btn primary_btn btn-primary">View</a>

														<a th:if="${transaction.transactionStatus == 'PENDING'}"
															th:href="${'/checkout/' + transaction.id}"
															class="status_btn yellow_btn">Continue Checkout</a>

													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">

					</div>
				</div>
			</div>
		</div>

		<!-- footer part -->
		<div th:insert="~{fragments/footer :: footer}"></div>
	</section>
	<!-- main content part end -->

	<div id="back-top" style="display: none;">
		<a title="Go to Top" href="#">
			<i class="ti-angle-up"></i>
		</a>
	</div>
	<div th:insert="~{fragments/footer-scripts :: footer}"></div>
</body>

</html>